numpy
scipy
pandas
matplotlib
altair
metaflow
python-dotenv
tqdm
filelock
typer
sh
jupyter
sklearn
transformers
sentence-transformers==1.2.0
networkx
gensim
bokeh
umap-learn
nlpaug
nltk
pigeonXT-jupyter
boto3